
body{
  margin: 0 auto;
  padding: 0;
  //background-color: antiquewhite;
}

.selectedColor{
  color: #d54e39;
}

.maskView{
  width: 100%;
  height: 100%;
  background-color: rgba(235,78,60,0.9);
  display: flex;
  align-items: center;
  flex-direction: column;

}
.row5_maskView{
  width: 100%;
  height: 100%;
  background-color: rgba(50,51,59,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.video{
  width:100%;height:100%;object-fit: fill;position: absolute;left: 0;top:0;z-index: 1000;

}
.banner_img{
  width: 100%;
  @media(max-width: 359px) {
    height: 500px;
  }
  @media(min-width: 360px) and (max-width: 767.9px) {
    height: 700px;
  }
  @media(min-width: 768px) and (max-width: 991.9px) {
    height: 750px;
  }
  @media(min-width: 992px) and (max-width: 1199.9px) {
    height: 800px;
  }
  @media(min-width: 1000px) and (max-width: 1200px) {
    height: 850px;
  }
  @media(min-width: 1200px) and (max-width: 1400px) {
    height: 900px;
  }
  @media(min-width: 1400px) and (max-width: 1600px) {
    height: 950px;
  }
  @media(min-width: 1600px) and (max-width: 1800px) {
    height: 1000px;
  }
}
.row1{

  @media (min-width: 1000px)  {
    margin-top: 88px;
  }
  @media (min-width: 600px) and (max-width: 1000px) {
    margin-top: 66px;
  }
  @media (min-width: 1000px)  {
    margin-top: 40px;
  }
}
// 正常
@media screen and (min-width: 1000px){
  .toolBar{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1000;
    width: 100%;
    height: 88px;
    background-color: #1e242f;
    display: flex;
    align-items: center;
    //opacity: 0.2;

  }

  .toolBar img{
    width: 192px;
    height: 52px;
    margin-left: 40px;

  }
  .redLine{
    width: 3px;
    height: 53px;
    background-color: #d54e39;
    margin-left: 20px;

  }
  .toolBar li{
    display: inline-block;
    margin-left: 60px;

  }
  .toolBar a{
    font-size: 24px;
    color: #fff;
  }


  .row2{
    //background-color: orange;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    //margin-top: 88px;
  }
  .right{
    //background-color: orange;
    margin-left: 120px;
    //width: 200px;
    height: 714px;
    display: flex;
    flex-direction: column;
  }
  .row2_title{
    color: #333;
    font-size: 50px;
    margin: 0px;
    margin-top: 90px;

  }
  .row2_title_fu{
    color: #666;
    font-size: 30px;
    margin: 0px;

  }
  .item{
    display: flex;
    align-items: center;
    margin-top: 45px;
    //background-color: orange;
  }
  .item1{
    display: flex;
    align-items: center;
    margin-top: 80px;
  }
  .desc{
    margin-left: 20px;
  }
  .item_top{
    color: #333;
    font-size: 24px;
    margin: 0px;
  }
  .item_bottom{
    color: #666;
    font-size: 16px;
    margin: 0px;

  }
  .item img{
    margin-left: 0px;
  }
  .row3{
    width: 100%;
    height: 1000px;
    background-image: url("../images/video_bg.png");

  }
  .maskView p{

    font-size: 130px;
    color: #fff;
    letter-spacing: 20px;
    margin-top: 140px;
    margin-bottom: 80px;
  }
  .maskView img{
    width: 200px;
    height: 200px;
  }

  .row4{
    width: 100%;
    height: 1000px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row4 li{
    display: inline-block;
    margin-right: 30px;
  }
  .row4 img{
    width: 150px;
    height:150px;

  }
  .row4 p{
    font-size: 40px;
    color: #333;
  }
  .row4 span{
    color: #d54e39;
  }
  .row5{
    width: 100%;
    height: 1000px;
    background-image: url("../images/row5_bg.png");
  }
  .row5_maskView img{
    width:647px ;
    height: 790px;
  }
  .footer{
    width: 100%;
    height: 230px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer_left{
    display: flex;

  }
  .footer_right{
    height: auto;
    margin-left: 250px;
    display: flex;
  }
  .footer img{
    width:57px;
    height: 57px;
  }
  .footer p{
    font-size: 24px;
    color: #333;
    margin: 0px;
    margin-left: 20px;
  }

}


// 1.5倍缩放
@media screen and (min-width: 600px) and (max-width: 1000px){
  .toolBar{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1000;
    width: 100%;
    height: 66px;
    background-color: #1e242f;
    display: flex;
    align-items: center;

  }

  .toolBar img{
    width: 144px;
    height: 39px;
    margin-left: 30px;

  }
  .redLine{
    width: 3px;
    height: 40px;
    background-color: #d54e39;
    margin-left: 15px;

  }
  .first_li{
    margin-left: -20px;
    color: #d54e39;
  }
  .toolBar li{
    display: inline-block;
    margin-left: 30px;

  }
  a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
  }

  .row2{
    //background-color: orange;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .iphone{
    height: 535px;
    width: 260px;
  }
  .right{
    //background-color: orange;
    margin-left: 45px;
    //width: 200px;
    height: 535px;
    display: flex;
    flex-direction: column;
  }
  .row2_title{
    color: #333;
    font-size: 38px;
    margin: 0px;
    margin-top: 38px;

  }
  .row2_title_fu{
    color: #666;
    font-size: 23px;
    margin: 0px;

  }
  .item{
    display: flex;
    align-items: center;
    margin-top: 38px;
    //background-color: orange;
  }
  .item1{
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  .desc{
    margin-left: 15px;
  }
  .item_top{
    color: #333;
    font-size: 18px;
    margin: 0px;
  }
  .item_bottom{
    color: #666;
    font-size: 12px;
    margin: 0px;

  }
  .item img,.item1 img{
    margin-left: 0px;
    width: 42px;
    height:36px;
  }
  .desc img{
    width: 29px;
    height: 8px;
  }
  .row3{
    width: 100%;
    height: 750px;
    background-image: url("../images/video_bg.png");

  }
  .maskView p{

    font-size: 75px;
    color: #fff;
    letter-spacing: 10px;
    margin-top: 105px;
    margin-bottom: 60px;
  }
  .maskView img{
    width: 150px;
    height: 150px;
  }
  .row4{
    width: 100%;
    height: 750px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row4 li{
    display: inline-block;
    margin-right: 25px;
  }
  .row4 img{
    width: 80px;
    height:80px;

  }
  .row4 p{
    font-size: 30px;
    color: #333;
  }
  .row4 span{
    color: #d54e39;
  }
  .row5{
    width: 100%;
    height: 750px;
    background-image: url("../images/row5_bg.png");
  }
  .row5_maskView img{
    width:484px ;
    height: 592px;
  }

  .footer{
    width: 100%;
    height: 172px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer_left{
    display: flex;

  }
  .footer_right{
    height: auto;
    margin-left: 120px;
    display: flex;
  }
  .footer img{
    width:42px;
    height: 42px;
  }
  .footer p{
    font-size: 18px;
    color: #333;
    margin: 0px;
    margin-left: 15px;
  }

}
// 2倍缩放
@media screen and (max-width: 600px){
  .toolBar{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1000;
    width: 100%;
    height: 40px;
    background-color: #1e242f;
    display: flex;
    align-items: center;
  }

  .toolBar img{
    width: 96px;
    height: 26px;
    margin-left: 20px;

  }
  .redLine{
    width: 1px;
    height: 26px;
    background-color: #d54e39;
    margin-left: 10px;

  }
  .first_li{
    margin-left: -20px;
  }

  .toolBar li{
    display: inline-block;
    margin-right: 15px;

  }
  .toolBar a{
    font-size: 12px;
    color: #fff;

  }

  .row2{
    //background-color: orange;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .iphone{
    height: 357px;
    width: 173px;
  }
  .right{
    //background-color: orange;
    margin-left: 30px;
    //width: 200px;
    height: 357px;
    display: flex;
    flex-direction: column;
  }
  .row2_title{
    color: #333;
    font-size: 25px;
    margin: 0px;
    margin-top: 25px;

  }
  .row2_title_fu{
    color: #666;
    font-size: 15px;
    margin: 0px;

  }
  .item{
    display: flex;
    align-items: center;
    margin-top: 25px;
    //background-color: orange;
  }
  .item1{
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .desc{
    margin-left: 10px;
  }
  .item_top{
    color: #333;
    font-size: 12px;
    margin: 0px;
  }
  .item_bottom{
    color: #666;
    font-size: 8px;
    margin: 0px;

  }
  .item img,.item1 img{
    margin-left: 0px;
    width: 28px;
    height:24px;
  }
  .desc img{
    width: 19px;
    height: 5px;
  }
  .row3{
    width: 100%;
    height: 500px;
    background-image: url("../images/video_bg.png");

  }
  .maskView p{

    font-size: 50px;
    color: #fff;
    letter-spacing: 5px;
    margin-top: 70px;
    margin-bottom: 40px;
  }
  .maskView img{
    width: 100px;
    height: 100px;
  }

  .row4{
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row4 li{
    display: inline-block;
    margin-right: 25px;
  }
  .row4 img{
    width: 50px;
    height:50px;

  }
  .row4 p{
    font-size: 20px;
    color: #333;
  }
  .row4 span{
    color: #d54e39;
  }

  .row5{
    width: 100%;
    height: 500px;
    background-image: url("../images/row5_bg.png");
  }
  .row5_maskView img{
    width:323px ;
    height: 395px;
  }

  .footer{
    width: 100%;
    height: 115px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer_left{
    display: flex;
    //background-color: orange;

  }
  .footer_right{
    height: auto;
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    //background-color: orange;

  }
  .footer img{
    width:28px;
    height: 28px;
  }
  .footer p{
    font-size: 12px;
    color: #333;
    margin: 0px;
    margin-left: 10px;
  }
}
